/*background image*/
body{
    background-image: url('https://images.hdqwalls.com/wallpapers/bthumb/dc-superheroes-ji.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    overflow-x: hidden;
}

/*heading for no favourites*/
h5{
    margin-left: 40%;
    margin-right: 40%;
}
.button-boxes {
    border-radius: 1rem;
    border-color: lightskyblue;
}